html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  background-color: #86afce;
  height: 100vh;
  margin: 0;
}

body,
input,
select,
textarea {
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  font-family: "Lobster", cursive;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: #ac1e3d;
}

header {
  grid-area: header;
  background-color: #20262c;
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

header a {
  color: #ff8000;
  text-decoration: none;
  box-sizing: 200px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
